/Assets/Fonts/Eurostile[[:space:]]Condensed[[:space:]]Bold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Fonts/MSMINCHO[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/Fonts/Univers[[:space:]]Condensed[[:space:]]Bold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
